In [16]:
import numpy as np
import pandas as pd
from sklearn import feature_extraction, preprocessing, linear_model, model_selection


import lightgbm as lgb
from sklearn.linear_model import Lasso
from xgboost import XGBClassifier


from sklearn.cluster import KMeans, MiniBatchKMeans
from sklearn.mixture import GaussianMixture, BayesianGaussianMixture

from sklearn.model_selection import train_test_split


import seaborn as sm
import matplotlib.pyplot as plotGraph
from sklearn.decomposition import PCA


from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score

from yellowbrick.cluster import KElbowVisualizer

from sklearn.preprocessing import RobustScaler
from scipy.sparse import csr_matrix
from tqdm import trange

In [17]:
data_df = pd.read_csv("data.csv")
submission_csv = pd.read_csv("sample_submission.csv")

In [18]:
data_df

,id,f_00,f_01,f_02,f_03,f_04,f_05,f_06,f_07,f_08,...,f_19,f_20,f_21,f_22,f_23,f_24,f_25,f_26,f_27,f_28
0,0,-0.389420,-0.912791,0.648951,0.589045,-0.830817,0.733624,2.258560,2,13,...,-0.478412,-0.757002,-0.763635,-1.090369,1.142641,-0.884274,1.137896,1.309073,1.463002,0.813527
1,1,-0.689249,-0.453954,0.654175,0.995248,-1.653020,0.863810,-0.090651,2,3,...,-0.428791,-0.089908,-1.784204,-0.839474,0.459685,1.759412,-0.275422,-0.852168,0.562457,-2.680541
2,2,0.809079,0.324568,-1.170602,-0.624491,0.105448,0.783948,1.988301,5,11,...,-0.413534,-1.602377,1.190984,3.267116,-0.088322,-2.168635,-0.974989,1.335763,-1.110655,-3.630723
3,3,-0.500923,0.229049,0.264109,0.231520,0.415012,-1.221269,0.138850,6,2,...,0.619283,1.287801,0.532837,1.036631,-2.041828,1.440490,-1.900191,-0.630771,-0.050641,0.238333
4,4,-0.671268,-1.039533,-0.270155,-1.830264,-0.290108,-1.852809,0.781898,8,7,...,-1.628830,-0.434948,0.322505,0.284326,-2.438365,1.473930,-1.044684,1.602686,-0.405263,-1.987263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97995,97995,0.237591,1.657034,-0.689282,0.313710,-0.299039,0.329139,1.607378,5,7,...,-0.290116,-0.258141,-0.973640,1.369508,0.391055,2.152426,-0.208944,-1.475403,0.298448,0.445039
97996,97996,0.322696,0.710411,0.562625,-1.321713,-0.357708,0.182024,0.178558,3,9,...,0.117687,1.388242,0.342400,1.680537,-0.860409,0.579165,1.162692,0.134994,0.994666,0.727642
97997,97997,-0.249364,-0.459545,1.886122,-1.340310,0.195029,-0.559520,-0.379767,8,9,...,-0.850223,-1.787648,-1.268115,-1.508330,1.945622,1.503645,0.194968,2.142693,1.646042,0.641466
97998,97998,0.311408,2.185237,0.761367,0.436723,0.464967,0.062321,-0.334025,1,8,...,-0.010839,1.118906,1.565765,0.358480,0.547615,1.224439,-0.537998,-1.610954,-0.616227,-0.066211
97999,97999,0.755170,0.567483,1.456767,-0.579071,-0.048474,-1.206240,0.784305,0,11,...,1.180805,-0.925705,-1.368680,-2.465425,1.453582,-1.685122,0.129689,-0.970897,1.404988,-0.711098

In [19]:
# df_data1 = np.array_split(data_df, 20)[0]
# df_data1

In [20]:
# df_data1.to_csv("df_data1.csv")

In [21]:
# training_data, testing_data = train_test_split(data_df, test_size=0.2, random_state=0)

In [22]:
# # find optimal number of neighbors using cross validation
# figure, axis = plotGraph.subplots(figsize=(20, 10))



# scores_array=[]
# i_track = []
# for i in range(1, 21):
#     kmeans_ = KMeans(n_clusters = i, random_state=0)
#     cvs = cross_val_score(kmeans_, data_df, cv=10)
#     avg_cvs_score = np.mean(cvs)
#     print(kmeans_,':', np.abs(avg_cvs_score))
#     i_track.append(i)
#     scores_array.append(  np.abs(avg_cvs_score))
#     axis.scatter(i,np.abs(avg_cvs_score))
#     axis.annotate('(N=' +str(i) +', '+ str(round(avg_cvs_score,3)) +')', (i, avg_cvs_score), textcoords='offset points', xytext=(0,20), ha='center')



# axis.plot(i_track, scores_array)

# axis.set_title('Title: Finding Optimal Neighbors', fontsize=15)
# axis.set_ylabel('Average Cross Validation Score', fontsize=15)
# axis.set_xlabel('Neighbors', fontsize=15)

In [23]:
# helped increase kaggle score by 40%
rs = RobustScaler()

In [24]:
rs_scaled = rs.fit_transform(data_df)

In [25]:
pca_data = PCA(n_components = .95, random_state=0)

In [26]:
pca_data_tranformed = pca_data.fit_transform(rs_scaled)

In [27]:
# ElbowV = KElbowVisualizer(KMeans(random_state=0), k=(4,21))
# ElbowV.fit(pca_data_tranformed)
# ElbowV.show()

In [28]:
bgm_final_rand0 = BayesianGaussianMixture(n_components=10, covariance_type="full", random_state=0).fit_predict(pca_data_tranformed)

/usr/local/lib/python3.7/dist-packages/sklearn/mixture/_base.py:282: ConvergenceWarning: Initialization 1 did not converge. Try different init parameters, or increase max_iter, tol or check for degenerate data.
  ConvergenceWarning,

In [29]:
bgm_final_rand0.shape

(98000,)

In [30]:
# bgm_final_rand32 = BayesianGaussianMixture(n_components=10, covariance_type="full", random_state=32).fit_predict(pca_data_tranformed)

mbkmeans_final_rand32 = KMeans(n_clusters=10, random_state=32).fit_predict(pca_data_tranformed)

In [31]:
mbkmeans_final_rand32.shape

(98000,)

In [32]:
def create_sparse_matrix(predicted_clusters):
    n = len(predicted_clusters)
    data = []
    row = []
    col = []
    for i in trange(n):
        for j in range(i+1, n):
            if predicted_clusters[i] == predicted_clusters[j]:
                data.append(1)
                row.append(i)
                col.append(j)
    print(len(data))
    print(len(row))
    print(len(col))
    return csr_matrix((data, (row,col)), shape=(n,n))

In [ ]:
sparse_matrix_rand32 = create_sparse_matrix(mbkmeans_final_rand32)

 57%|█████▋    | 55732/98000 [19:22<08:15, 85.24it/s]

In [ ]:
sparse_matrix_rand0 = create_sparse_matrix(bgm_final_rand0)

In [ ]:
sparse_matrix_mean = (sparse_matrix_rand0 + sparse_matrix_rand32) / 2

In [ ]:
sparse_matrix_mean[sparse_matrix_mean < 0.5] = 0
sparse_matrix_mean[sparse_matrix_mean >= 0.5] = 1

In [ ]:
sparse_matrix_mean = sparse_matrix_mean.toarray()

clusters_final = np.zeros(len(pca_data_tranformed))
cluster_final_next_id = 0


for i in range(len(pca_data_tranformed)):
    if clusters_final[i] == 0:
        clusters_final_current_id = cluster_final_next_id
        cluster_final_next_id +=1
        clusters_final[i] = clusters_final_current_id
        for j in range(i+1, len(pca_data_tranformed)):
            if sparse_matrix_mean[i,j] ==1:
                clusters_final[j] = clusters_final_current_id
print(clusters_final)

In [ ]:
submission_csv["Predicted"] = clusters_final

In [ ]:
submission_csv

In [ ]:
submission_csv.to_csv("july_submission_5.csv", index=False)